body {
    margin: 0;
    font-family: 'Fredoka One';
    background-color: rgb(255, 255, 255);
}

.home {
    text-align: center;
}

.home a {
    color: black;
    text-decoration: underline;
}

a {
    text-decoration: none;
}

.frame {
    position: relative;
    text-align: center;
    color: white;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.center {
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vw;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 10px;
}

.center-1 {
    position: absolute;
    top: 60%;
    left: 34%;
    transform: translate(-50%, -50%);
    font-size: 2vw;
    color: yellow;
    border: 3px yellow solid;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 0, 0.2);
}

.center-1:hover, .center-2:hover, .center-3:hover, .center-4:hover {
    background-color: rgba(0, 255, 0, 0.5);
}

.center-1 a, .center-2 a, .center-3 a, .center-4 a {
    color: yellow;
}

.center-2 {
    position: absolute;
    top: 60%;
    left: 44%;
    transform: translate(-50%, -50%);
    font-size: 2vw;
    color: yellow;
    border: 3px yellow solid;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 0, 0.2);
}

.center-3 {
    position: absolute;
    top: 60%;
    left: 54%;
    transform: translate(-50%, -50%);
    font-size: 2vw;
    color: yellow;
    border: 3px yellow solid;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 0, 0.2);
}

.center-4 {
    position: absolute;
    top: 60%;
    left: 64%;
    transform: translate(-50%, -50%);
    font-size: 2vw;
    color: yellow;
    border: 3px yellow solid;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 0, 0.2);
}

#canvas {
    border: 3px black solid;
}

.question {
    text-align: center;
}

input[type=text], button {
    border-radius: 15px;
    padding: 8px 10px;

}

button {
    background-color: coral;
    border: none;
    color: white;
    font-family: 'Fredoka One';
    cursor: pointer;
}
